@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');
* {
    box-sizing: border-box;
    /*padding: 0;
    margin: 0;*/
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: hsl(204, 43%, 93%);
}
.container {
    display: grid;
    grid-template-rows: repeat(2 280px);
    max-width: 745px;
    margin: 54px auto;
    box-shadow: 0 0 11px 0px #434e55b0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.box1 {
    background-color: #ffffff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 30px 50px;
}
div.box2 {
    background-color: hsl(179, 62%, 43%);
    color: #ffffff !important;
    border-bottom-left-radius: 7px;
}
div.box3 {
    background-color:  rgb(104, 212, 211);
    color: #ffffff;
    border-bottom-right-radius: 7px;
}
div.box1-body {
    
}
div.box2-body, div.box3-body {
    width: 300px;
    margin: 38px auto 0;
}
.box1-body>h1 {
    color: hsl(179, 62%, 43%);
}
h2.yellow {
    color: hsl(71, 73%, 54%);
}
div.box1-body>p {
    color: hsl(218, 22%, 67%);
}
.text {
    width: 200px;
    line-height: 1.5em;
    font-weight: 200;
}
.merge {
    display: flex;
    align-items: center;
    height: 50px;    
}
.merge>p {
    color: hsl(218, 22%, 67%);
    padding-left: 10px;
}
p.sign {
    border: 1px solid hsl(71, 73%, 54%);
    background-color: hsl(71, 73%, 54%);
    border-radius: 7px;
    padding: 15px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 1px 10px 20px 0px #067572;
}
footer {
    display: none;
}
@media only screen and (max-width: 425px){
    body {
        display: grid;
        padding: 5px;
        font-size: 12px;
    }
    .grid {
        display: contents;
    }
    #soft {
        margin: -8px auto 13px;
    }
    div.box1 {
        padding: 10px;
        letter-spacing: 0;
    }
    div.box1-body {
        margin-left: 14px;
        padding: 4px;
    }
    div.box2 {
        border-bottom-left-radius: 0;
    }
    div.box3 {
        padding: 8px 0;
    }
    .merge{
        height: 30px;
    }
    div.box3-body {
        margin: 22px auto 21px
    }
}
@media only screen and (max-width: 320px) {
    .box2-body, .box3-body {
        padding: 0 27px;
    }
    body {
        padding: 0 10px;
    }
    div.box1 {
        width: 286px;
    }
    .container, .box2, .box3 {
        width: 286px;
    }
    p.sign {
        margin: 40px 15px;
        position: relative;
        right: 15px
    }
}
